@tailwind base;
@tailwind components;
@tailwind utilities;
$a: rgba(37, 99, 235, 1);
#docs-sidebar {
	min-width: 260px;
	border-radius: 0 7px 7px 0;
}
.sidebar {
	min-width: 260px;
}
input, select, textarea {
	border: 1px solid rgba(229, 231, 235, 1);
}
.nav {
	display: none;
}
.content {
	flex-grow: 1;
	width: 100%;
	border: 1px solid rgba(229, 231, 235, 1);
	border-radius: 7px;
}
.sidebar2 {
	min-width: 320px;
	min-height: 100vh;
	border: 1px solid rgba(229, 231, 235, 1);
	border-radius:  7px   0 0 7px;
}
.button	{
	display: inline-block;
	text-align: center;
	background: $a;
	border-radius: 7px;
	color: #fff;
	min-width: 205px;
	padding: 12px 15px;
}
.button--grey {
	background: rgba(107, 114, 128, 1);
}
.profile-card {
	max-width: 550px;	
	padding: 40px;
}
.profile-card_img img {
	height: revert-layer;
}
.profile-card_row {
	min-width: 100%;
}
.profile-card_label {
	min-width: 150px;
}
